@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary: #a8e0f4;
  --bg1: #dcfafc;
  --bg2: #035bfa;
  --weather-container: #5194fb;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body, #app {
  width: 100%;
  height: 100%;
}

#app {
  position: relative;
  background-image: linear-gradient(45deg, var(--bg1), var(--bg2));
}